<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Staatliches&display=swap" rel="stylesheet">
	<title>Eat-Da-Burger!</title>

</head>

<body id=body>

	<div class="container-fluid">
		<center>
			<div class="row">
				<img src="/assets/img/burger.png" class="col-4 align-self-center burgerImg"></img>
				<img src="/assets/img/burger.png" class="col-4 align-self-center burgerImg"></img>
				<img src="/assets/img/burger.png" class="col-4 align-self-center burgerImg"></img>
			<br>
			<br>
				<h1 class="col-12 burgerTitle">Eat-Da-Burger!</h1>
				<p class="col-12 text"> Pick a burger from the list. Then devour it. <br> If you want to pick a new burger,
					type what you would like and we can make it for you!
				</p>
		</center>
		<!--created burgers-->
		<div class="col-12 boxDiv">
			<center>
				<form class="create-form" action="burgers/insertOne" method="POST">
					<div class="form-group">
						<textarea placeholder="Enter name of burger you'd like to eat!" id="burgerName"
							name="burger_name"></textarea>
						<br>
						<button type="submit" class="btn btn-lg btn-dark submitButton">Submit</button>
					</div>
				</form>
		</div>
	</div>
	</center>
	<br>
	<!--inputting burger content from index.handlebars-->
	{{{ body }}}
	<br>
	</div>
	<footer id="footer">
		<div class="container">
			<span><a href="https://github.com/Boaardz56/Portfolio.git">GitHub Portfolio</a></span>
		</div>
	</footer>
</body>

</html>