#body {
    background-color:sandybrown;

}

.burgerTitle {
    font-family: 'Staatliches', cursive;    
}

p{
    font-family: 'Poppins', sans-serif;
}

#burgerName {
    width: 200px;
    height: 100px;
    text-align: center;
}

.burgerImg {
    opacity: 0.5;
    width: 200px;
    height: 250px;
}

.submitFont {
    text-align: center;
    font-family: "Staatliches", 'cursive';
}


